<html>
<head>
    <title></title>
</head>
<body>
    <h1>Login</h1>
    <a asp-controller="Home" asp-action="TeacherLogin">as teacher</a>
    <a asp-controller="Home" asp-action="StudentLogin">as student</a>
</body>
</html>