@model Teacher_tbl
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/teacherregistrationform.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form asp-controller="Home" asp-action="TeacherRegistration">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input  asp-for="fullname" type="text" placeholder="Enter your name" required>
                    </div>
                    @*<div class="input-box">
                        <span class="details"> file</span>
                        <input type="file" asp-for="fullname"  placeholder="Enter your document" required>
                    </div>*@
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" asp-for="email"  placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" asp-for="phoneNumber"  placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" asp-for="password"  placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" asp-for="confirmpassword"  placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" asp-for="gender" name="gender" value="male" id="dot-1">
                    <input type="radio"asp-for="gender" name="gender" value="female" id="dot-2">
                    <input type="radio" asp-for="gender" name="gender" value="Prefer not to say" id="dot-3">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Prefer not to say</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" name="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

</body>

</html>